<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Handwritten Digit Recognizer{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <header>
        <h1>Handwritten Digit Recognizer</h1>
        {% if not (request.endpoint == 'auth.login' or request.endpoint == 'auth.register') %}
        <nav>
            <a href="{{ url_for('main.index') }}">Начало</a>
            <a href="{{ url_for('auth.login') }}">Вход</a>
            <a href="{{ url_for('auth.register') }}">Регистрация</a>
        </nav>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>