{% extends 'base.html' %}
{% set show_navbar = False %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="registration-wrapper">
    <div class="form-container custom-register-form">
        <h1 class="page-title">Вход</h1>

        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label for="email">Имейл</label>
                {{ form.email(id="email", placeholder="Въведете имейл") }}
                {% if form.email.errors %}
                    <div class="text-danger">
                        {% for error in form.email.errors %}
                            <small>{{ error }}</small><br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="password">Парола</label>
                {{ form.password(id="password", placeholder="********") }}
                {% if form.password.errors %}
                    <div class="text-danger">
                        {% for error in form.password.errors %}
                            <small>{{ error }}</small><br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.submit(class="button full-width-button") }}
            </div>

            <p class="text-center">Нямате акаунт? <a href="{{ url_for('auth.register') }}">Регистрирайте се.</a></p>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-success mt-3 text-center">
                    {% for category, message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}
